/* Principal.css */

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout-sider {
  background: #001529;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff !important;
}

.ant-menu-dark .ant-menu-item:hover {
  background-color: #1890ff !important;
}

.ant-menu-dark .ant-menu-item-selected a {
  color: #fff !important;
}

.text-left {
  text-align: left;
}

.font-medium {
  font-weight: 500;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

/* Ajuste de tama침o para dispositivos m칩viles */
@media (max-width: 768px) {
  .ant-menu-dark .ant-menu-item {
    padding: 0 16px !important;
  }
}

/* Ajuste de tama침o para dispositivos peque침os */
@media (max-width: 576px) {
  .ant-menu-dark .ant-menu-item {
    padding: 0 8px !important;
  }
}
